* {
    box-sizing: border-box;
}
body {
    background-color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    background-color: black;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid rgb(246, 174, 0);
}
nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-wrap: wrap;
}
li {
    list-style: none;
    display: inline-block;
    color: white;
    width: 85px;
    padding: 5px 0;
}
nav a {
    text-decoration: none;
}
.logo {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.logo img {
    height: 55px;
}
.logo-text{
    width: 200px;
    color: white;
    padding: 10px;
    height: 70px;
}
.logo-text h2 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    /* font-size: 2rem; */
}
.logo-text h6 {
    color: rgb(246, 174, 0);
    margin: 0px;
    padding: 0px;
    
}
.weight {
    font-weight: 100;
}
nav .home:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 53px;
}
nav .about:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
}
nav .blog:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50px;
}
nav .contact:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80px;
}
section {
    width: 80%;
    margin: auto;
}
section h5 {
    font-weight: 200;
    margin: 0;
}
section h2 {
    font-family: "dancing script";
    font-size: 2rem;
}
.intro {
    height: 500px;
    /* background-image: url(./images/interior.jpg); */
    background-image: url(./images/yeh-xintong-go3DT3PpIw4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.store {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    text-align: center;
    display: inline-block;
}
h1 {
    font-size: 4rem;
    font-family: "Dancing Script";
    padding-bottom: 20px;
    margin: 0;
}
.store p {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    color: rgb(246, 174, 0);
}
.shop a { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
}
.shop a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
}
.store h3 {
    font-weight: 100;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
}
.store img {
padding-top: 15px;
}
.specials {
    display: flex;
    justify-content: center;
    /* background-color: rgb(35, 35, 35); */
    background-color: white;
}
.offer  {
    background-color: rgba(0, 0, 0, .9);
    width: 350px;
    display: inline-block;
    margin: 30px 20px;
    text-align: center;
    padding: 40px 0;
    border-radius: 10px;
    color: white;
}
.offer h3 {
    font-family: "Permanent Marker";
    color: white;
    font-size: 1.25rem;
    margin-top: 0;
}
.thin {
    font-weight: 100;
}
.bold {
    font-weight: 900;
}
.offer a {
    text-decoration: none;
    font-weight: 900;
    color: rgb(246, 174, 0);
    padding-bottom: 8px;
}
.offer a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.offer p {
    color: rgb(246, 174, 0);
}
.offer h2 {
    padding-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
}
.welcome {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15%;
}
.welcome-message {
    text-align: center;
    width: 100%;
    clear: both;
    padding: 20px 0;

}
.welcome-item {
    width: 30%;
    text-align: center;
    padding-bottom:30px;
}
.welcome-item p {
    width: 90%;
    margin: auto;
}
#return h4 {
    border-right: 2px solid rgb(246, 174, 0);
    border-left: 2px solid rgb(246, 174, 0);
}
#quality h4 {
    width: 80%;
    margin: 21px auto;
}
.welcome-message h5 {
    color: rgb(246, 174, 0);
}
.welcome-item p {
    font-size: .75rem;
}
.welcome-item img {
    width: 60%;
}
#ad-container {
    background-color: white;
}
.ad {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-image: url(./images/strawberry.png);
    background-size: cover;
    background-position: center;
    
}
.ad a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}
.ad a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    
}
.ad h3 {
    padding: 8px;
    margin: 0;
}
.ad h5 {
    font-weight: 100;
    color: rgb(246, 174, 0);
    padding-top: 15px;
    margin: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, .9);
}
.ad .bold {
    font-weight: bold;
}
.ad h2 {
    font-size: 3rem;
    padding: 0;
    color: rgb(246, 174, 0);
    text-shadow: 2px 2px rgba(0, 0, 0, .9);
    margin: 5px 0;
}
.cakes {
    text-align: center;
    background-color: white;
}
.cakes h5 {
    color: rgb(246, 174, 0);
    margin: 0;
    padding-top: 3rem;
}
.cakes-container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
}
.cake-icon {
    width: 50px;
    height: 50px;
    background-color: rgb(187, 187, 187);
    border-radius: 5px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.cake-icon img {
    padding: 10px;
}
#cake-text {
    padding-top: 12px;
    color: white;
    font-size: .75rem;
}
.cake-icon:hover {
    background-color: rgb(246, 174, 0);
}
.bread-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 75px;
}
.bread-box img {
    height: 60px;
}
.bread-box {
    display: inline-block;
    width: 20%;
}
.bread-box h5 {
    font-family: "permanent Marker";
    color: black;
}
.bread-box h4{
    font-family: "dancing script";
    color: rgb(246, 174, 0);
}
.testimonials {
    text-align: center;
    background-image: url(./images/bkg-bread.jpg);
}
.testimonials h5 {
    color: rgb(246, 174, 0);
    padding-top: 1rem;
    padding-bottom: 0;
}
.testimonials h2 {
    color: white;
    margin-top: 10px;
}
.testimonials h3 {
    color: white;
    width: 60%;
    margin: auto;
    font-family: "dancing script";
}
.testimonials h6 {
    margin: 0;
    padding: 5px 10px;
    color: rgb(246, 174, 0);
}
.news {
    text-align: center;
    background-color: white;
}
.news h5 {
    color: rgb(246, 174, 0);
    padding-top: 3rem;
}
.blog-container {
    display: flex;
    justify-content: center;
}
.blog-body {
    display: flex;
    text-align: left;
    width: 30%;
    margin: 0 30px 30px 30px;
}
.blog-body .date{
    color: lightgray;
    margin: 15px;
}
.date h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.date h6 {
    margin: 0 auto;
    padding: 0;
}
.post h5{
    color: black;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 0;
}
.post p {
    font-weight: 100;
    
}
.post a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}
.post a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 8px;
    background-size: 100%;
}
.message {
    text-align: center;
    background-image: url("./images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    border-top:1px solid rgb(246, 174, 0);
    background-size: cover;
    height: 400px;
}
.message h5 {
    color: black;
    padding-top: 30px;
}
.contact-box {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}
.contact-info {
    width: 30%;
    color: lightgray;
    text-align: left;
    border-bottom: 1px solid lightgray;
}
.your-message {
    width: 100%;
    color: lightgray;
    text-align: left;
    height: 100px;
    border-bottom: 1px solid lightgray;
}
.contact-info h6 {
    margin: 5px 0;
}
.send-email {
    text-align: center;
    margin: auto;
    font-weight: 900;
}
.send-email a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}
.send-email a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 8px;
    background-size: 100%;
}
.location {
    display: flex;
    justify-content: flex-end;
    padding: 20PX 0;
    background-image: url(./images/foodbkg.png);
    color: white;
    background-size: cover;
}
.location-info {
    width: 25%;
}
.map {
    background-image: url(./images/map.png);
    width: 55%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5%;
}
.location h5 {
    color: rgb(246, 174, 0);
}
.contact-item {
    display: flex;
    margin: 4px 0;
}
.contact-item img {
    width: 20%;
}
.contact-item h6 {
    margin: 0 0 0 10px;
    padding: 0;
}
.contact-text {
    margin: auto 0;
}
.location-info a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
    margin-left:  25%;
}
.location-info a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 8px;
    background-size: 100%;
}
.info {
    display: flex;
    background-color: white;
    padding: 30px;
    justify-content: space-between;
}
.bakery-info {
    width: 35%;
}
.bakery-info .logo {
    padding-left: 0;
    height: 65px;
}
.bakery-info h6 {
    margin: 0;
    padding: 0;
}
.bakery-info h2 {
    color: black;
}
.bakery-item {
    display: flex;
    margin: 5px;
    padding: 0;
}
.bakery-item img {
    width: 15px;
    height: 15px;
    margin: 0;
}
.bakery-item h6 {
    margin: 5px 10px;
}

.amalies-info{
    width: 20%;
}
.account {
    width: 20%;
}
.instagram {
    width: 20%;
}
.info-item img {
    height: 15px;
    width: 15px;
    margin: 5px;
}
.info-item {
    display: flex;
}
.info-item h6 {
    margin: 5px;
}
.amalies-info h5 {
    margin: 0 0 30px 20px;
}
.account h5 {
    margin: 0 0 30px 20px;
}
.instagram h5 {
    margin: 0 0 30px 20px;
}
.photo-squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 120px;
}
.photo {
    height: 55px;
    width: 55px;
    background-size: cover;
    background-position: center;
}
#photo1 {
    background-image: url(./images/nathan-dumlao-YUzSjKG9QmU-unsplash.jpg);
}
#photo2 {
    background-image: url(./images/mae-mu-BxsGyQwjwaw-unsplash.jpg);
}
#photo3 {
    background-image: url(./images/wesual-click-rsWZ-P9FbQ4-unsplash.jpg);
}
#photo4 {
    background-image: url(./images/mae-mu-m9pzwmxm2rk-unsplash.jpg);
}
#photo5 {
    background-image: url(./images/heather-barnes-WbZesfqwR-A-unsplash.jpg);
}
#photo6 {
    background-image: url(./images/nadya-spetnitskaya-tOYiQxF9-Ys-unsplash.jpg);
}
footer {
    width: 80%;
    margin: auto;
    background-color: white;
}
.footer-container {
    width: 95%;
    margin: auto;
    border-top: 1px solid rgb(246, 174, 0);
    display: flex;
    justify-content: space-between;
}
.footer-right {
    display: flex;
    width: 45%;
    justify-content: space-between;
}
/* media querries  */
@media only screen and (max-width:1024px) and (min-width:414px) {
    section {
        width: 100%;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .cakes-container {
        width: 100%;
    }
    .bread-container {
        width: 90%;
    }
    body {
        margin: 0;
    }
    .bakery-info {
        width: 40%;
    }
    .photo-squares {
        justify-content: center;
        align-content: center;
    }
    .contact-box {
        width: 70%;
    }
}
@media only screen and (max-width:414px) {
    body {
        margin: 0;
    }
    header {
        width: 100%;
        display: inline-block;
        height: 85px;
    }
    .logo {
        padding: 0;
        width: 300px;
        height: 50px;
    }
    .logo img {
        height: 45px;
    }
    .logo-text {
        padding: 10px;
    }
    .logo h2 {
        font-size: 1rem;
    }
    nav {
        justify-content: space-around;
        width: 100%;
    }
    section {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
    .store h3 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
    .offer {
        padding: 10px 0;
        margin: 10px;
    }
    .offer h3 {
        font-size: 1rem;
        margin: 0;
    }
    .offer h2 {
        margin: 10px 0 0 0;
        font-size: 1.25rem;
    }
    .offer p {
        margin: 0;
    }
    .welcome {
        padding: 0;
    }
    .welcome-message {
        padding: 10px 15px 0 15px;
    }
    .welcome-item img {
        height: 40px;
        width: 40px;
    }
    .welcome-item p {
        font-size: 10px;
    }
    .ad {
        width: 100%;
    }
    .ad h2 {
        font-size: 2rem;
    }
    .ad h3 {
        font-size: 1rem;
    }
    .cakes-container {
        width: 90%;
    }
    .bread-container {
        flex-direction: column;
        align-content: center;
    }
    .bread-box {
        width: 75%;
    }
    .bread-box img {
        height: 100px;
    }
    #french-loaf img{
        height: 60px;
    }
    .bread-box h5 {
        font-size: 16px;
        padding-top: 10px;
    }
    .testimonials h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }
    .blog-body {
        margin: 0;
        width: 50%;
    }
    .blog-container {
        justify-content: space-between;
        width: 100%;
        padding-bottom: 15px;
    }
    .news {
        padding: 0 5px;
    }
    .date h2 {
        font-size: 1.75rem;
    }
    .post h5 {
        font-size: 12px;
    }
    .post p {
        font-size: 12px;
    }
    .contact-box {
        width: 95%;
    }
    .contact-info h6 {
        font-size: 10px;
    }
    .location-info {
        width: 45%;
    }
    .info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bakery-info {
        width: 100%;
    }
    .amalies-info {
        width: 50%;
        padding-top: 25px;
    }
    .account {
        width: 50%;
        padding-top: 25px;
    }
    .instagram {
        width: 80%;
        padding-top: 25px;
        text-align: center;

    }
    .photo {
        height: 65px;
        width: 65px;
        margin: 5px;
    }
    .info h5 {
        margin: 10px;
    }
    .footer-container {
        flex-direction: column-reverse;
    }
    .footer-container h6 {
        width: 100%;
    }
    .footer-right {
        width: 100%;
    }

}