body {
    background-color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    background-color: black;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid rgb(246, 174, 0);
}
nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-wrap: wrap;
}
li {
    list-style: none;
    display: inline-block;
    color: white;
    width: 85px;
    padding: 5px 0;
}
nav a {
    text-decoration: none;
}
.logo {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.logo img {
    height: 55px;
}
.logo-text{
    width: 200px;
    color: white;
    padding: 10px;
}
h2 {
    margin: 0px;
    padding: 0px;
    /* font-size: 2rem; */
}
h6 {
    color: rgb(246, 174, 0);
    margin: 0px;
    padding: 0px;
    
}
.weight {
    font-weight: 100;
}
nav .home:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 53px;
}
nav .about:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
}
nav .blog:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50px;
}
nav .contact:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80px;
}
.intro {
    width: 80%;
    height: 500px;
    margin: auto;
    background-image: url(./images/interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.store {
    background-color: rgb(0, 0, 0, .9);
    color: white;
    text-align: center;
    display: inline-block;
}
h1 {
    font-size: 4rem;
    font-family: "Dancing Script";
    margin: 0 0 20px 0;
}
.store p {
    width: 70%;
    margin: auto;
    padding: 15px 0 20px 0;
}
.shop a { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
}
.shop a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
}
.store h3 {
    font-weight: 100;
    padding: 10px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}