* {
    box-sizing: border-box;
}
body {
    background-color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    background-color: black;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid rgb(246, 174, 0);
}
nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-wrap: wrap;
}
li {
    list-style: none;
    display: inline-block;
    color: white;
    width: 85px;
    padding: 5px 0;
}
nav a {
    text-decoration: none;
}
.logo {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.logo img {
    height: 55px;
}
.logo-text{
    width: 200px;
    color: white;
    padding: 10px;
}
header h2 {
    margin: 0px;
    padding: 0px;
    /* font-size: 2rem; */
}
header h6 {
    color: rgb(246, 174, 0);
    margin: 0px;
    padding: 0px;
    
}
.weight {
    font-weight: 100;
}
nav .home:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 53px;
}
nav .about:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
}
nav .blog:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50px;
}
nav .contact:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80px;
}
.intro {
    width: 80%;
    height: 500px;
    margin: auto;
    background-image: url(./images/interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.store {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    text-align: center;
    display: inline-block;
}
h1 {
    font-size: 4rem;
    font-family: "Dancing Script";
    padding-bottom: 20px;
    margin: 0;
}
.store p {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    color: rgb(246, 174, 0);
}
.shop a { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
}
.shop a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
}
.store h3 {
    font-weight: 100;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
}
.store img {
padding-top: 15px;
}
.specials {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: rgb(35, 35, 35); */
    background-color: white;
}
.offer  {
    background-color: rgba(0, 0, 0, .9);
    width: 350px;
    display: inline-block;
    margin: 30px 20px;
    text-align: center;
    padding: 40px 0;
    border-radius: 10px;
    color: white;
}
.offer h3 {
    font-family: "Permanent Marker";
    color: white;
    font-size: 1.25rem;
    margin-top: 0;
}
.thin {
    font-weight: 100;
}
.bold {
    font-weight: 900;
}
.offer a {
    text-decoration: none;
    font-weight: 900;
    color: rgb(246, 174, 0);
    padding-bottom: 8px;
}
.offer a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.offer p {
    color: rgb(246, 174, 0);
}
.offer h2 {
    padding-bottom: 8px;
}
.welcome {
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15%;
}
.welcome-message {
    text-align: center;
    width: 100%;
    clear: both;
    padding: 20px 0;

}
.welcome-item {
    width: 30%;
    text-align: center;
    padding-bottom:30px;
}
.welcome-item p {
    width: 90%;
    margin: auto;
}
#return h4 {
    border-right: 2px solid rgb(246, 174, 0);
    border-left: 2px solid rgb(246, 174, 0);
}
#quality h4 {
    width: 80%;
    margin: 21px auto;
}
.welcome-message h5 {
    color: rgb(246, 174, 0);
    font-weight: 200;
}
.welcome-message h2 {
    font-family: "dancing script";
    font-size: 2rem;
}
.welcome-item p {
    font-size: .75rem;
}
.welcome-item img {
    width: 60%;
}
#ad-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
.ad {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-image: url(./images/strawberry.png);
    background-size: cover;
    background-position: center;
    
}
.ad a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}
.ad a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}
.ad h3 {
    padding: 8px;
    margin: 0;
}
.ad h5 {
    font-weight: 100;
    color: rgb(246, 174, 0);
    padding-top: 15px;
    margin: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, .9);
}
.ad .bold {
    font-weight: bold;
}
.ad h2 {
    font-family: "dancing script";
    font-size: 3rem;
    padding: 0;
    color: rgb(246, 174, 0);
    text-shadow: 2px 2px rgba(0, 0, 0, .9);
    margin: 5px 0;
}
.cakes {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: white;
}
.cakes h5 {
    color: rgb(246, 174, 0);
    font-weight: 200;
    margin: 0;
    padding-top: 3rem;
}
.cakes h2 {
    font-family: "dancing script";
    font-size: 2rem;
}
.cakes-container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
}
.cake-icon {
    width: 50px;
    height: 50px;
    background-color: rgb(187, 187, 187);
    border-radius: 5px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.cake-icon img {
    padding: 10px;
}
#cake-text {
    padding-top: 12px;
    color: white;
    font-size: .75rem;
}
.cake-icon:hover {
    background-color: rgb(246, 174, 0);
}
.bread-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 75px;
}
.bread-box img {
    height: 60px;
}
.bread-box {
    display: inline-block;
    width: 20%;
}
.bread-box h5 {
    font-family: "permanent Marker";
    color: black;
}
.bread-box h4{
    font-family: "dancing script";
    color: rgb(246, 174, 0);
}
.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    background-image: url(./images/bkg-bread.jpg);
}
.testimonials h5 {
    color: rgb(246, 174, 0);
    font-weight: 200;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0;
}
.testimonials h2 {
    font-family: "dancing script";
    font-size: 2rem;
    color: white;
    margin-top: 10px;
}
.testimonials h3 {
    color: white;
    width: 60%;
    margin: auto;
    font-family: "dancing script";
}
.testimonials h6 {
    margin: 0;
    padding: 5px 10px;
    color: rgb(246, 174, 0);
}
.news {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: white;
}
.news h5 {
    color: rgb(246, 174, 0);
    font-weight: 200;
    margin: 0;
    padding-top: 3rem;
}
.news h2 {
    font-family: "dancing script";
    font-size: 2rem;
}
.blog-container {
    display: flex;
    justify-content: center;
}
.blog-body {
    display: flex;
    text-align: left;
    width: 30%;
    margin: 0 30px 30px 30px;
}
.blog-body .date{
    color: lightgray;
    margin: 15px;
}
.date h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.date h6 {
    margin: 0 auto;
    padding: 0;
}
.post h5{
    color: black;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 0;
}
.post p {
    font-weight: 100;
    
}
.post a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}
.post a:hover {
    background-image: url(./images/icon-underline-yellow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 8px;
}